<p id="notice"><%= notice %></p>

<h1>Expertise Professors</h1>

<table>
  <thead>
    <tr>
      <th>Expertise</th>
      <th>Professor</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expertise_professors.each do |expertise_professor| %>
      <tr>
        <td><%= expertise_professor.expertise %></td>
        <td><%= expertise_professor.professor %></td>
        <td><%= expertise_professor.name %></td>
        <td><%= link_to 'Show', expertise_professor %></td>
        <td><%= link_to 'Edit', edit_expertise_professor_path(expertise_professor) %></td>
        <td><%= link_to 'Destroy', expertise_professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expertise Professor', new_expertise_professor_path %>
